.cabecalho {
    background-image: url(../img/Background.png);
    background-position: right;
    background-repeat: no-repeat;
    height: 100vh;
}

.cabecalho__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    padding-right: 40rem;
    padding-left: 2rem;
    width: 40%;
}

.cabecalho__combo {
    padding-bottom: 3rem;
}

.subtitulo {
    color: var(--branco);
    font-size: 1.75rem;
    text-align: var(--alinhamento-centro);
    padding-bottom: 1.5rem;
    line-height: 2rem;
}

.subtexto {
    font-size: 0.75rem;
}