.chamada {
    display: flex;
    padding: 3rem 0;
}

.chamada__descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 36.75rem;
    padding-left: 5rem;
    padding-right: 2rem;
}

.chamada__plataformas, .chamada__notebook, .chamada__telas {
    width: 50%;
    padding-left: 5rem;
    padding-right: 5rem;
}

.chamada__botao {
    width: fit-content;
    padding: 1rem;
    margin: 1rem 0;
}