.rodape {
    display: flex;
    flex-direction: column;
    text-align: var(--alinhamento-centro);
    padding: 5rem;
    box-sizing: border-box;
}

.rodape__titulo {
    font-size: var(--tamanho-fonte-titulo);
    margin-bottom: 2.5rem;
}

.rodape__dispositivos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10rem;
}

.rodape__links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-bottom: 1rem;
    text-decoration: none;
}

.rodape__logotipo {
    padding-bottom: 2rem;
}

.rodape__descricao {
    font-size: 0.875rem;
    padding: .5rem;
}

.dispositivos {
    font-size: 2rem;
    color: var(--branco);
    font-weight: var(--peso-fonte-titulo);
}

.rodape__links-lista a:hover {
    color: var(--azul);
}

